<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixpmflowbase/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.jmixpmflowbase.view.user/UserListView.title"/>
        <item view="Project.list" title="msg://com.company.jmixpmflowbase.view.project/projectListView.title"/>
        <item view="Task_.list" title="msg://com.company.jmixpmflowbase.view.task/taskListView.title"/>
        <item view="TimeEntry.list" title="msg://com.company.jmixpmflowbase.view.timeentry/timeEntryListView.title"/>
        <item view="PieChartView" title="msg://com.company.jmixpmflowbase.view.piechart/pieChartView.title"/>
        <item view="ProjectStatsView"
              title="msg://com.company.jmixpmflowbase.view.projectstats/projectStatsView.title"/>
        <item view="RequestsHistoryView"
              title="msg://com.company.jmixpmflowbase.view.requestshistory/requestsHistoryView.title"/>
        <item view="NativeJsonGaugeView"
              title="msg://com.company.jmixpmflowbase.view.nativejsongauge/nativeJsonGaugeView.title"/>
        <item view="DishesRatingView"
              title="msg://com.company.jmixpmflowbase.view.dishesrating/dishesRatingView.title"/>
        <item view="CandlestickView" title="msg://com.company.jmixpmflowbase.view.candlestick/candlestickView.title"/>
    </menu>

</menu-config>